<!DOCTYPE html>
<html>
<head>
<h1>blhablhablah</h1>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="https://www.payscale.com/research/UK/Job=Staff_Nurse/Salary">Nurse</a>
        </li>
        <li>
            <a href="https://www.glassdoor.co.uk/Salary/British-Airways-Pilot-Salaries-E3462_D_KO16,21.htm">Airline Pilot</a>
        </li>
        <li>
            <a href="https://www.payscale.com/research/UK/Job=Teaching_Assistant_(TA)/Salary">Teaching Assistant</a>
        </li>
        <li>
            <a href="https://www.goal.com/en-gb/news/how-much-premier-league-referees-paid-wages-salary/14pjnss8mq3au1dmbi2acqhav0">Football Referee</a>
        </li>
        <li>
            <a href="https://www.payscale.com/research/UK/Job=Journalist/Salary">Journalist</a>
        </li>
        <li>
            <a href="https://www.payscale.com/research/UK/Job=Software_Engineer/Salary">Software Engineer</a>
        </li>
        <li>
            <a href="https://www.cv-library.co.uk/salary-guide/average-solicitor-salary">Solicitor</a>
        </li>
        <li>
            <a href="https://blog.sfceurope.com/how-much-do-uk-chefs-earn">Chef</a>
        </li>
        <li>
            <a href="https://www.moneymarketing.co.uk/analysis/financial-adviser-salary-uk/">Financial Advisor</a>
        </li>
        <li>
            <a href="https://www.payscale.com/research/UK/Job=Travel_Agent/Salary">Travel Agent</a>
        </li>
        <li>
            <a href="https://www.collingwood.co.uk/blog/driving-instructors-salary-earnings/">Driving Instructor</a>
        </li>
        <li>
            <a href="https://www.payscale.com/research/UK/Job=Civil_Engineer/Salary">Civil Engineer</a>
        </li>
    </ul>
</div>
</body>


</html>
