<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
         background-color: burlywood;
         padding-top: 14px;
         text-align: center;
         position: fixed;
         width: 100%;
         z-index: 99;
         font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: relative;
    top: -20px;
    left: 1200px;
    width: 50px;
}

p {
    color: brown;
}

</style>
</head>
<body>
    <form action="/action_page.php">
        <p>How much is a pint of milk?</p>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">£0.19</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">£0.34</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">£0.49</label>
        </form>
</body>
<footer>
    <a href="/you-decide-game2">next</a>
</footer>
</html>
